@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(269.2deg, #14ABF6 18.25%, #B013E7 97.02%);
width: 100%;
height: 100vh;
margin: 0%;
padding: 0%;
box-sizing: border-box;

}





























